body {
    color: #000000;
    background-color: #EDEDED;
    font-family: sans-serif;
}

A:hover {
    color: #FF0000;
    background-color: transparent;
}

A:link {
    color: #0000C0;
    background-color: transparent;
}

A:visited {
    color: #900000;
    background-color: transparent;
}

A:active {
    color: #FF4040;
    background-color: transparent;
}

P {
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
}

.indentedText {
    font-family: sans-serif;
    text-indent: 2em;
}

.smallCaps {
    font-variant: small-caps;
    font-weight: normal;
}

.pssst {
    display: none;
}

.center {
    padding: auto;
    text-align: center;
    page-break-before: auto;
}

.centerTable {
    margin: 0 auto;
}

.blockcenter {
    margin-left: auto;
    margin-right: auto;
}
.foreignText {
    font-family: sans-serif;
    color: #400000;
    margin: 1.5em 1em 1em 1em;
    padding: 0.5em;
    background-color: #D6D6D6;
}

.symbol {
    width: 12px;
    height: 12px;
    border: 0;
    padding: 0;
    padding-right: 0.25rem;
    vertical-align: center;
}

.language {
    width: 20px;
    height: 10px;
    border: 0;
    padding: 0;
    padding-left: 0.25rem;
    vertical-align: center;
}

.mapIcon {
    width: 100px;
    height: 68px;
    border: 1px;
    padding: 0;
    vertical-align: center;
}

.galleryImg {
    margin-left: auto;
    margin-right: auto;
}


TABLE.usefulInfo {
    font-size: 70%;
    color: #004000;
    background-color: #FFFFFF;
    margin: 0.5em;
    padding: 0.5em;
}

TABLE.history {
    border: 0;
    font-size: 80%;
    color: #400000;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

TABLE.foreign {
    font-family: sans-serif;
    color: #400000;
    margin: 1.5em 1em 1em 1em;
    padding: 0.5em;
    background-color: #D6D6D6;
}

TABLE.leftImg {
    clear: left;
    float: left;
    margin: 0 0.5em 0.5em 0;
    padding: 0;
    border-width: 0;
}

TABLE.rightImg {
    clear: right;
    float: right;
    margin: 0 0 0.5em 0.5em;
    padding: 0;
    border-width: 0;
}

TABLE.leftLang {
    clear: left;
    float: left;
    margin: 0 0.5em 0.5em 0;
    padding: 0 0 0 0;
    border-width: 0;
    font-size: 60%;
}

TABLE.rightLang {
    clear: right;
    float: right;
    margin: 0 0 0.5em 0.5em;
    padding: 0;
    border-width: 0;
    font-size: 60%;
}

TABLE.centerImg {
    clear: both;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-width: 0;
    text-align: center;
}

.imgCaption {
    font-size: 70%;
}

.copyMsg {
    font-size: 70%;
}

.menuText {
    font-size: 65%;
}

.small {
    font-size: 80%;
}

.mySiteName {
    color: #13305B;
    background-color: transparent;
}

.nopadding {
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 0;
    vertical-align: bottom;
    word-spacing: 0;
    letter-spacing: 0;
}

.footerNav {
    color: #000000;
    background-color: #C0C0C0;
    padding: 1em;
}


@media print {
    TD.footerNav {
        display: none;
    }

    TD.navBar {
        display: none;
    }

    TABLE.navBar {
        display: none;
    }

    TABLE.leftLang {
        display: none;
    }

    TABLE.rightLang {
        display: none;
    }

    .newPage {
        page-break-before: always;
    }

    .liGoogleAd {
        display: none;
    }

    .liWorldAd {
        display: none;
    }

    .GoogleAd {
        display: none;
    }

    .WorldAd {
        display: none;
    }
}

.noBorder {
    margin-top: 0;
    margin-bottom: 0;
}

TABLE.invers {
    text-align: justify;
    background-color: #635D83;
    background-image: none;
    color: #FFFFFF;
    padding: 15px;
    margin: 10px;
    width: 60%;
}

.liWorld {
    list-style-image: url("../graphics/symbol/World.gif")
}

.liWorldAd {
    list-style-image: url("../graphics/symbol/World.gif")
}

.liShowcave {
    list-style-image: url("../graphics/symbol/Showcave.gif")
}

.liCave {
    list-style-image: url("../graphics/symbol/Cave.gif")
}

.liMine {
    list-style-image: url("../graphics/symbol/Mine.gif")
}

.liMisc {
    list-style-image: url("../graphics/symbol/Misc.gif")
}

.liRegion {
    list-style-image: url("../graphics/symbol/Region.gif")
}

.liSpring {
    list-style-image: url("../graphics/symbol/Spring.gif")
}

.liKarst {
    list-style-image: url("../graphics/symbol/Karst.gif")
}

.liGorge {
    list-style-image: url("../graphics/symbol/Gorge.png")
}

.liExplain {
    list-style-image: url("../graphics/symbol/Explain.gif")
}

.liBook {
    list-style-image: url("../graphics/symbol/Book.gif")
}

.liMap {
    list-style-image: url("../graphics/symbol/Map.gif")
}

.liGallery {
    list-style-image: url("../graphics/symbol/Gallery.gif")
}

.liSmile {
    list-style-image: url("../graphics/symbol/Smile.gif")
}

.liGoogle {
    list-style-image: url("../graphics/symbol/google.png")
}

.liGoogleAd {
    list-style-image: url("../graphics/symbol/google.png")
}

.liGoogleEa {
    list-style-image: url("../graphics/symbol/GoogleEarth.png")
}

.liWiki {
    list-style-image: url("../graphics/symbol/wiki.png")
}



