body {
    color: #000000;
    background-color: #EDEDED;
    font-family: sans-serif;
}

.darkMode {
    color: #EDEDED;
    background-color: #000000;
}

.dangerMode {
    color: #ff0000;
    background-color: rgba(255, 100, 100, 0.1);
}

A:hover {
    color: #FF0000;
    background-color: transparent;
}

A:link {
    color: #0000C0;
    background-color: transparent;
}

A:visited {
    color: #900000;
    background-color: transparent;
}

A:active {
    color: #FF4040;
    background-color: transparent;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
}

.indentedText {
    text-indent: 2em;
}

.smallCaps {
    font-variant: small-caps;
    font-weight: normal;
}

.typewriter {
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

.closed {
    text-decoration: line-through;
}

.center {
    text-align: center;
    page-break-before: auto;
}

.maxWidth {
    max-width: 100%;
}

.right {
    text-align: right;
}

.clear {
    clear: both;
}

.clearLeft {
    clear: left;
}

.red {
    color: #FF0000;
    font-weight: bold;
}

.blue {
    color: darkblue;
    font-weight: bold;
}

.whiteback {
    background-color: white;
}

.underline {
    text-decoration: underline;
    text-underline-position: auto;
}

.centerTable {
    margin: 0 auto;
}

/*create formula with super and subscript */
.supsub {
    position: absolute;
}

.sub {
    display: block;
    position: relative;
    font-size: 70%;
}

.sup {
    display: block;
    position: relative;
    font-size: 70%;
}

.super {
    vertical-align: super;
    font-size: 70%;
}

.fun {
    color: rgba(41, 69, 1, 0.92);
    background-color: rgba(209, 223, 200, 0.03);
}

.footnote {
    font-size: .7em;
    font-weight: bold;
    vertical-align: super;
}


ol {
    text-align: left;
    display: table;
    border: 0;
    margin: 1rem .2rem;
}

ol li {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.biglist {
    text-align: left;
    display: table;
    border: 0;
    margin: 1rem .2rem;
}

.biglist li {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.smalllist {
    text-align: left;
    display: table;
    border: 0;
    margin: .5rem .2rem;
}

.smalllist li {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

dl dd {
    padding: .5rem;
}

table.language {
    padding: 0.25rem;
    margin: 0 auto;
}

table.language td {
    border-collapse: collapse;
    border: 1px black;
    padding: 0.25rem;
}

table.language tr:nth-child(odd) {
    background-color: #D6D6D6;
}

table.language tr:nth-child(even) {
    background-color: #EDEDED;
}

table.language th {
    background-color: white;
    padding: 0.5rem;
}

table.border {
    width: 100%;
    table-layout: auto;
    background-color: #FFFFFF;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid black;
}

table.border th {
    border: 1px solid black;
    padding: 10px;
    align-content: center;
}

table.border td {
    border: 1px solid black;
    padding: 10px;
    align-content: inherit;
}

table.border .right {
    align-content: end;
}

table.td .nowrap {
    white-space: nowrap;
}

.foreign {
    font-family: sans-serif;
    color: #400000;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #D6D6D6;
    overflow: hidden;
}

.indent {
    font-family: sans-serif;
    color: #000940;
    margin: 1em;
    padding: 0.5em;
    background-color: rgba(214, 214, 214, 0.58);
    overflow: hidden;
}

.box {
    margin: 1em auto;
    display: table;
    border: 2px solid black;
    padding: 1em;
}

table.box td {
    padding: .2em;
}

.verse {
    text-align: left;
    display: table;
    border: 0;
    margin: 1em auto;
}

.invisibleBox {
    text-align: left;
    display: table;
    border: 0;
    margin: .2rem;
}

.horizImage {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}


ol.invisibleBox li {
    margin-top: .3rem;
    margin-bottom: .3rem;
}

ul.invisibleBox li {
    margin-top: .3rem;
    margin-bottom: .3rem;
}

div.right {
    text-align: left;
    margin-left: auto;
    display: table;
    border: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.definition {
    font-family: serif;
    color: #404040;
    margin: 1em;
    padding: 0.5em;
    background-color: #e6F6e6;
    overflow: hidden;
}

.symbol {
    width: 12px;
    height: 12px;
    border: 0;
    padding: 0 0.25rem 0 0;
    vertical-align: center;
}

.flagsymbol {
    height: 12px;
    border: 0;
    padding: 0 0.25rem 0 0;
    vertical-align: center;
}

img.language {
    width: 20px;
    height: 10px;
    border: 0;
    padding: 0 .1rem;
    vertical-align: center;
}

.mapIcon {
    width: 100px;
    border: 1px;
    padding: 0;
    vertical-align: center;
}

.mapIconWorld {
    width: 100px;
    height: 62px;
    border: 1px;
    padding: 0;
    vertical-align: center;
}

.mapIconEurope {
    width: 100px;
    height: 68px;
    border: 1px;
    padding: 0;
    vertical-align: center;
}

.mapIconAsia {
    width: 64px;
    height: 80px;
    border: 1px;
    padding: 0;
    vertical-align: center;
}

.mapIconSouthAmerica {
    width: 61px;
    height: 101px;
    border: 1px;
    padding: 0;
    vertical-align: center;
}

.map {
    font-size: 85%;
    line-height: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    text-align: left;
    max-width: 100%;
}

img.flag {
    width: 100px;
    height: 60px;
    border: 0;
    padding: 0;
    float: right;
    float-offset: 10px;
}

table.galleryImg {
    margin-left: auto;
    margin-right: auto;
    width: 380px;
}

table.galleryImg td {
    text-align: center;
    font-weight: bold;
}

.entrance {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 900px;
    height: auto;
}

table.usefulInfo {
    font-size: 80%;
    color: #004000;
    background-color: #FFFFFF;
    margin: 0.5em;
    padding: 0.5em;
}

table.usefulInfo tr :first-child {
    padding-right: .5em;
}

table.usefulInfo td {
    vertical-align: top;
}

.xemhid {
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
}

table.history {
    border: 0;
    font-size: 80%;
    color: #400000;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

table.history tr :first-child {
    white-space: nowrap;
    padding-right: .5em;
}

table.history td {
    vertical-align: top;
}

table.standard {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 80%;
    color: #242400;
    background-color: transparent;
    padding: 0;
}

table.standard th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
    text-align: left;
    background-color: white;
    white-space: nowrap;
}

table.standard td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
    text-align: left;
    white-space: nowrap;
}

table.standard td.wrap {
    white-space: normal !important;
}

table.standard td:last-of-type {
    white-space: normal !important;
}

table.standard td.right {
    text-align: right;
}

table.standard td.left {
    text-align: left;
}

table.standard tfoot {
    background-color: white;
}

table.statistics {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 90%;
    color: #400000;
    background-color: transparent;
    margin: 1em auto;
    padding: 0;
}

table.statistics th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
    background-color: white;
}

table.statistics td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
    text-align: right;
}

table.statistics tr.chapter {
    background-color: rgba(192, 192, 192, 0.36);
}

table.statistics td.left {
    text-align: left;
}

table.classification {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 100%;
    color: black;
    margin: 0 0 0.5em 0.5em;
}

table.classification th {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #bac9dd;
    padding: 0.4em;
}

table.classification td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.4em;
    background-color: rgba(186, 201, 221, 0.49);
}

table.withBorder {
    border: 1px solid black;
    border-collapse: collapse;
    clear: both;
}

table.dl {
    border: 0.5em;
    border-collapse: collapse;
    font-size: 100%;
    background-color: transparent;
}

table.dl td {
    text-align: justify;
    vertical-align: top;
    padding: 0.2em;
}

table.withBorder th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.4em;
}

table.withBorder td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.4em;
}

table.center {
    clear: both;
    margin: 1em auto;
}

table.left {
    margin: 0 0 0.5em 0.5em;
    clear: left;
    float: left;
}

table.right {
    margin: 0 0 0.5em 0.5em;
    clear: right;
    float: right;
}

table.tdLeft {
    text-align: left;
    vertical-align: hanging;
}

figure {
    display: table;
    padding: 0;
    border-width: 0;
    width: 20px;
}

figure.right {
    clear: right;
    float: right;
    margin: 0 0 0.5em 0.5em;
}

figure.left {
    clear: left;
    float: left;
    margin: 0 0.5em 0.5em 0;
}

@media print {

    figure.left {
        clear: right;
        float: right;
        margin: 0 0 0.5em 0.5em;
    }
}

figure.gallery {
    width: 250px;
    vertical-align: top;
    horiz-align: center;
    display: inline-block;
    margin: 0 0.5em 0.5em 0.5em;
}

figure.center {
    clear: both;
    float: none;
    margin: 1em auto;
    width: 100%;
}

figure.center img {
    margin-right: .2em;
    margin-left: .2em;
}

figure.center figcaption {
    text-align: center;
}

figcaption {
    text-align: left;
}

figure.panorama {
    clear: both;
    float: none;
    margin: 1em auto;
    width: 100%;
}

figure.panorama img {
    max-width: 100%;
}

figure.panorama figcaption {
    text-align: center;
}

div.panorama {
    clear: both;
    float: none;
    width: 100%;
    height: 78px;
    overflow: hidden;
}

div.panorama img {
    width: 3000px;
    height: 78px;
}

figcaption {
    font-size: 80%;
}

TABLE.leftMap {
    clear: left;
    float: left;
    margin: 0 0.5em 0.5em 0;
    padding: 0 0 0 0;
    border-width: 0;
    font-size: 60%;
    width: 100px;
    text-align: center;
}

TABLE.rightMap {
    clear: right;
    float: right;
    margin: 0 0 0.5em 0.5em;
    padding: 0;
    border-width: 0;
    font-size: 60%;
    width: 100px;
    text-align: center;
}

TABLE.centerImg {
    clear: both;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-width: 0;
    text-align: center;
}

.imgCaption {
    font-size: 70%;
    max-width: 100%;
    display: table-caption;
    caption-side: bottom;
    text-align: center;
}

.small {
    font-size: 80%;
}

.big {
    font-size: 125%;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.tt {
    font-family: "Times New Roman", serif;
}

.mySiteName {
    color: #13305B;
    background-color: transparent;
}

.boxed {
    border: 1px solid black;
    align-content: center;
    text-align: center;
    padding: 0.5em;
    float: none;
    margin: 1em;
    display: inline-block;
    background: rgba(255, 128, 128, 0.22);
}

.highlighted {
    border: 1px solid black;
    display: table;
    justify-content: left;
    align-items: normal;
    font-weight: bold;
    padding: 1em;
    margin: 1em auto;
    background: rgba(255, 128, 128, 0.22);
}

hr {
    width: 50%;
    margin-bottom: 1em;
    margin-top: 1em;
    border: 1px solid rgb(0, 0, 0);
    background: #000000;
}

hr.wide {
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.27);
    background: transparent;
}

@media print {

    .newPage {
        page-break-before: always;
    }
}

.liShowcave {
    list-style-image: url("../graphics/symbol/Showcave.png")
}

.liCave {
    list-style-image: url("../graphics/symbol/Cave.png")
}

.liExplain {
    list-style-image: url("../graphics/symbol/Explain.png")
}

.liBook {
    list-style-image: url("../graphics/symbol/Book.png");
}

.noresize {
    width: 800px;
    font-size: 85%;
    line-height: 1;
    text-align: center;
    background-color: #ffffff;
    position: relative;
}

@media print {
    .linklist {
        display: none;
    }

    div[data-role~="header"] {
        display: none;
    }

    div[data-role~="footer"] {
        display: none;
    }

    .noprint {
        display: none;
    }
}

.linklist2 {

}

.linklist3 {

}

.linklist4 {
    margin: 0;
}

div.breadcrumb {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 480px;
    padding: 0 40px;
}

ul.breadcrumb {
    display: flex;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    top: 50%;
    width: 100%;
    height: 40px;
    transform: translateY(-2%);
    z-index: 1;
    justify-content: center;
}

ul.breadcrumb li {
    height: 70%;
    background-color: white;
    color: #252525;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: 5px;
    padding: 0 20px;
    cursor: pointer;
    flex-direction: column;
    z-index: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

ul.breadcrumb li:hover {
    background: #EEEEEE;
    color: #FFF;
}

ul.breadcrumb A:link {
    color: #555555;
    background-color: transparent;
    text-decoration: none;
}

ul.breadcrumb A:visited {
    color: #555555;
    background-color: transparent;
    text-decoration: none;
}

ul.breadcrumb A:active {
    color: #FF4040;
    background-color: transparent;
    text-decoration: none;
}

hr.tinyline {
    display: block;
    position: relative;
    padding: 0;
    margin: 2px auto 1px 0;
    height: 0;
    width: 30%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}