body {
    color: #000000;
    background-color: #EDEDED;
    font-family: sans-serif;
}

A:hover {
    color: #FF0000;
    background-color: transparent;
}

A:link {
    color: #0000C0;
    background-color: transparent;
}

A:visited {
    color: #900000;
    background-color: transparent;
}

A:active {
    color: #FF4040;
    background-color: transparent;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
}

.indentedText {
    text-indent: 2em;
}

.smallCaps {
    font-variant: small-caps;
    font-weight: normal;
}

.typewriter {
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

.pssst {
    display: none;
}

.closed {
    text-decoration: line-through;
}

.center {
    text-align: center;
    page-break-before: auto;
}

.red {
    color: #FF0000;
    font-weight: bold;
}

.centerTable {
    margin: 0 auto;
}

table.language {
    padding: 0.25rem;
    margin: 0 auto;
}

table.language td {
    border-collapse: collapse;
    border: 1px black;
    padding: 0.25rem;
}

table.language tr:nth-child(odd) {
    background-color: #D6D6D6;
}

table.language tr:nth-child(even) {
    background-color: #EDEDED;
}

table.language th {
    background-color: white;
    padding: 0.5rem;
}


.foreignText {
    font-family: sans-serif;
    color: #400000;
    margin: 1.5em 1em 1em 1em;
    padding: 0.5em;
    background-color: #D6D6D6;
}

.foreign {
    font-family: sans-serif;
    color: #400000;
    margin: 1.5em 1em 1em 1em;
    padding: 0.5em;
    background-color: #D6D6D6;
}

.definition {
    font-family: serif;
    color: #404040;
    margin: 1.5em 1em 1em 1em;
    padding: 0.5em;
    background-color: #e6F6e6;
}

.symbol {
    width: 12px;
    height: 12px;
    border: 0;
    padding: 0 0.25rem 0 0;
    vertical-align: center;
}

img.language {
    width: 20px;
    height: 10px;
    border: 0;
    padding: 0 .1rem;
    vertical-align: center;
}

.mapIcon {
    width: 100px;
    height: 68px;
    border: 1px;
    padding: 0;
    vertical-align: center;
}

img.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    height: auto;
}

img.flag {
    width: 100px;
    height: 60px;
    border: 0;
    padding: 0;
    float: right;
    float-offset: 10px;
}

.galleryImg {
    margin-left: auto;
    margin-right: auto;
    width: 380px;
}

.entrance {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 900px;
    height: auto;
}

.usefulInfo {
    font-size: 80%;
    color: #004000;
    background-color: #FFFFFF;
    margin: 0.5em;
    padding: 0.5em;
}

.xemhid {
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
}

table.history {
    border: 0;
    font-size: 80%;
    color: #400000;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

table.standard {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 80%;
    color: #242400;
    background-color: transparent;
    padding: 0;
}

table.standard th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
    text-align: left;
    background-color: white;
}

table.standard td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
    text-align: left;
}

table.standard tfoot {
    background-color: white;
}

table.statistics {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 80%;
    color: #400000;
    background-color: transparent;
    margin: 1em auto;
    padding: 0;
}

table.statistics th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}

table.statistics td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}

table.classification {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 100%;
    color: black;
    margin: 0 0 0.5em 0.5em;
}

table.classification th {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #bac9dd;
    padding: 0.4em;
    alignment: left;
}

table.classification td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.4em;
    background-color: rgba(186, 201, 221, 0.49);
}

table.center {
    clear: both;
    margin: 1em auto;
}

table.left {
    margin: 0 0 0.5em 0.5em;
    clear: left;
    float: left;
}

table.right {
    margin: 0 0 0.5em 0.5em;
    clear: right;
    float: right;
}

TABLE.leftImg {
    clear: left;
    float: left;
    margin: 0 0.5em 0.5em 0;
    padding: 0;
    border-width: 0;
    max-width: 260px;
}

TABLE.rightImg {
    clear: right;
    float: right;
    margin: 0 0 0.5em 0.5em;
    padding: 0;
    border-width: 0;
    max-width: 260px;
}

TABLE.leftLang {
    clear: left;
    float: left;
    margin: 0 0.5em 0.5em 0;
    padding: 0 0 0 0;
    border-width: 0;
    font-size: 60%;
}

TABLE.rightLang {
    clear: right;
    float: right;
    margin: 0 0 0.5em 0.5em;
    padding: 0;
    border-width: 0;
    font-size: 60%;
}

TABLE.centerImg {
    clear: both;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-width: 0;
    text-align: center;
}

TABLE.index {
    clear: both;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    border-width: 0;
    text-align: justify;
}

.imgCaption {
    font-size: 70%;
}

.copyMsg {
    font-size: 70%;
}

.menuText {
    font-size: 65%;
}

.small {
    font-size: 80%;
}

.big {
    font-size: 125%;
}

.italic {
    font-style: italic;
}

.mySiteName {
    color: #13305B;
    background-color: transparent;
}

.nopadding {
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 0;
    vertical-align: bottom;
    word-spacing: 0;
    letter-spacing: 0;
}

.footerNav {
    color: #000000;
    background-color: #C0C0C0;
    padding: 1em;
}

@media print {
    TD.footerNav {
        display: none;
    }

    TD.navBar {
        display: none;
    }

    TABLE.navBar {
        display: none;
    }

    TABLE.leftLang {
        display: none;
    }

    TABLE.rightLang {
        display: none;
    }

    .newPage {
        page-break-before: always;
    }

    .liGoogleAd {
        display: none;
    }

    .liWorldAd {
        display: none;
    }

    .GoogleAd {
        display: none;
    }

    .WorldAd {
        display: none;
    }
}

.noBorder {
    margin-top: 0;
    margin-bottom: 0;
}

TABLE.invers {
    text-align: justify;
    background: #635D83 none;
    color: #FFFFFF;
    padding: 15px;
    margin: 10px;
    width: 60%;
}

.liShowcave {
    list-style-image: url("../graphics/symbol/Showcave.png")
}

.liCave {
    list-style-image: url("../graphics/symbol/Cave.png")
}

.liMine {
    list-style-image: url("../graphics/symbol/Mine.png")
}

.liMisc {
    list-style-image: url("../graphics/symbol/Misc.png")
}

.liRegion {
    list-style-image: url("../graphics/symbol/Region.png")
}

.liSpring {
    list-style-image: url("../graphics/symbol/Spring.png")
}

.liKarst {
    list-style-image: url("../graphics/symbol/Karst.png")
}

.liGorge {
    list-style-image: url("../graphics/symbol/Gorge.png")
}

.liExplain {
    list-style-image: url("../graphics/symbol/Explain.png")
}

.liBook {
    list-style-image: url("../graphics/symbol/Book.png");
    margin-bottom: 1em;
}

.liMap {
    list-style-image: url("../graphics/symbol/Map.png")
}

.liGallery {
    list-style-image: url("../graphics/symbol/Gallery.png")
}

.liSmile {
    list-style-image: url("../graphics/symbol/Smile.png")
}

.liGoogle {
    list-style-image: url("../graphics/symbol/google.png")
}

.liGoogleAd {
    list-style-image: url("../graphics/symbol/google.png")
}

.liGoogleEa {
    list-style-image: url("../graphics/symbol/GoogleEarth.png")
}

.liWiki {
    list-style-image: url("../graphics/symbol/Wikipedia.png")
}

