# Rewrite static uris to script uris

RewriteEngine On

# force canonical hostname: www.showcaves.com
# This makes the catch all to refresh...
# special prots or https is only possible with a correct domain name
RewriteCond %{HTTP_HOST}   !^www\.showcaves\.com [NC]
RewriteCond %{HTTP_HOST}   !^$
RewriteRule ^/(.*)         http://www.showcaves.com/$1 [L,R]

# sitemap
RewriteCond %{REQUEST_URI} ^/sitemap.xml$
RewriteRule ^.*$ /english/explain/Index/sitemap.php [L,NE]

# Big images are handled by /big.php
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} ^.*/german/.*$ [NC]
RewriteCond %{REQUEST_URI} ^/images/Big/(.*)$
RewriteRule ^.*$ /images/bigg.php?pic=%1&type=i&size=big&lev=2 [L,NE]

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} ^.*/german/.*$ [NC]
RewriteCond %{REQUEST_URI} ^/foreign/Big/(.*)$
RewriteRule ^.*$ /foreign/bigg.php?pic=%1&type=f&size=big&lev=2 [L,NE]

RewriteCond %{REQUEST_URI} ^/images/Big/(.*)$
RewriteRule ^.*$ /images/big.php?pic=%1&type=i&size=big&lev=2 [L,NE]

RewriteCond %{REQUEST_URI} ^/foreign/Big/(.*)$
RewriteRule ^.*$ /foreign/big.php?pic=%1&type=f&size=big&lev=2 [L,NE]

RewriteCond %{REQUEST_URI} ^/surveys/Big/(.*)$
RewriteRule ^.*$ /surveys/big.php?pic=%1&type=s&size=big&lev=2 [L,NE]

# compatibility mode: old scripts remain untouched
# TODO: remove when not moved any more (when the site is updated to skriptless links)
RewriteCond %{REQUEST_URI} ^/images/big\.php(.*)$
RewriteRule ^.*$ - [L]

RewriteCond %{REQUEST_URI} ^/images/bigg\.php(.*)$
RewriteRule ^.*$ - [L]

RewriteCond %{REQUEST_URI} ^/images/image\.php(.*)$
RewriteRule ^.*$ - [L]

RewriteCond %{REQUEST_URI} ^/foreign/big\.php(.*)$
RewriteRule ^.*$ - [L]

RewriteCond %{REQUEST_URI} ^/foreign/bigg\.php(.*)$
RewriteRule ^.*$ - [L]

RewriteCond %{REQUEST_URI} ^/foreign/image\.php(.*)$
RewriteRule ^.*$ - [L]

RewriteCond %{REQUEST_URI} ^/surveys/big\.php(.*)$
RewriteRule ^.*$ - [L]

# now all other requests to the image directories are handled by /image.php
RewriteCond %{REQUEST_URI} ^/images/(.*)$
RewriteRule ^.*$ /image.php?pic=%1&type=i&size=small [L,NE]

RewriteCond %{REQUEST_URI} ^/foreign/(.*)$
RewriteRule ^.*$ /image.php?pic=%1&type=f&size=small [L,NE]

RewriteCond %{REQUEST_URI} ^/surveys/(.*)$
RewriteRule ^.*$ /image.php?pic=%1&type=s&size=small [L,NE]


# rewrite requests to the entrance pictures
RewriteCond %{REQUEST_URI} ^/entrance/english/(.*)$
RewriteRule ^.*$ /image.php?pic=%1&type=e&size=small&l=en [L,NE]

RewriteCond %{REQUEST_URI} ^/entrance/german/(.*)$
RewriteRule ^.*$ /image.php?pic=%1&type=e&size=small&l=de [L,NE]

RewriteCond %{REQUEST_URI} ^/entrance/(.*)$
RewriteRule ^.*$ /image.php?pic=%1&type=e&size=small [L,NE]

