# Rewrite static uris to script uris

RewriteEngine On

# redirect to https
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# force canonical hostname: www.showcaves.com
# This makes the catch all to refresh...
RewriteCond %{HTTP_HOST}   !^www\.showcaves\.com [NC]
RewriteCond %{HTTP_HOST}   !^$
RewriteRule ^/(.*)         https://www.showcaves.com/$1 [L,R=301]

# sitemap
RewriteCond %{REQUEST_URI} ^/sitemap.xml$
RewriteRule ^.*$ /english/explain/Index/sitemap.php [L,NE]

