@namespace h "http://www.w3.org/1999/xhtml";

.G-fr {
    border: none;
    display: block;
    font-size: 0.875em;
    height: 11.217cm;
    line-height: 1.2;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 14.18cm
}

.G-fr1 {
    border: none;
    display: block;
    font-size: 0.875em;
    height: 20.636cm;
    line-height: 1.2;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 12.328cm
}

.P {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1.125em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.423cm 0 0.212cm;
    padding: 0;
}

.P-P1 {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

.P-P2 {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.423cm 0 0.212cm;
    padding: 0;
}

.P-P4 {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-align: right
}

.P-P5 {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1.125em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.423cm 0 0.212cm;
    padding: 0;
    text-align: center
}

.P-P7 {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-align: left
}

.P-P8 {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-align: justify
}

.P-P9 {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0 0.212cm;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
}

.S-T {
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.S-T1 {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.S-T2 {
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.S-T3 {
    font-family: "Times New Roman", serif;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.S-T4 {
    font-family: "Times New Roman", serif;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.S-T5 {
    font-style: italic;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.S-T6 {
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.S-T7 {
    font-family: "Times New Roman", serif;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.S-T8 {
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.T-Tabelle {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: 8.44cm
}

.T-Tabelle1 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0;
    width: 7.885cm
}


.TD-Tabelle1A {
    border: none;
    display: table-cell;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.097cm;
    padding-left: 0.097cm;
    padding-right: 0.097cm;
    padding-top: 0.097cm;
    text-align: inherit;
    vertical-align: inherit
}

.TD-Tabelle2A {
    background-color: transparent;
    border: none;
    display: table-cell;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.097cm;
    padding-left: 0.097cm;
    padding-right: 0.097cm;
    padding-top: 0.097cm;
    text-align: inherit;
    vertical-align: inherit
}

.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.calibre1 {
    color: inherit;
    cursor: inherit;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-decoration: inherit
}

.calibre2 {
    height: auto;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: auto
}

.calibre3 {
    color: blue;
    cursor: pointer;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-decoration: underline
}

.calibre4 {
    display: table-row;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    vertical-align: middle
}

