.c {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-indent: 0
}

.c1 {
    height: auto;
    width: 100%
}

.c2 {
    display: block;
    font-size: 1.125em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center
}

.c3 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 3em;
    margin-top: 0;
    text-indent: 0
}

.c4 {
    display: table-cell;
    font-style: italic;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
}

.calibre {
    display: block
}

.calibre1 {
    display: block;
    font-size: 1.5em;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.12em;
    line-height: 1.5;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: center;
    text-indent: 0;
    word-spacing: 0.2em
}

.calibre2 {
    display: block;
    font-size: 1.375em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    padding-top: 1em;
    page-break-before: always;
    text-align: center
}

.calibre3 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 80%
}

.calibre4 {
    display: table-row-group;
    vertical-align: middle
}

.calibre5 {
    display: table-row;
    vertical-align: inherit
}

.calibre6 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
}

.calibre7 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
}

.calibre8 {
    display: block;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-indent: 1em
}

.calibre9 {
    font-style: italic
}

.calibre10 {
    display: block;
    font-size: 1.125em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center
}

.calibre11 {
    font-size: 1em
}

.calibre12 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    page-break-after: always
}

.calibre13 {
    font-size: 0.90909em
}

.calibre14 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: top
}

.center {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
}

.chapter {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    page-break-before: always
}

.fig {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 60%
}

.fig1 {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%
}

.fig2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 20%
}

.fig3 {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 30%
}

.fig4 {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 40%
}

.footnote {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin: 1em 10%;
    text-indent: 0
}

.letter {
    display: block;
    margin: 1em 5%;
    text-indent: 0
}

.noindent {
    display: block;
    margin: 0.25em 0;
    text-indent: 0%
}

.poem {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin: 1em 0 1em 10%;
    text-indent: 0
}

.x-ebookmaker {
    background-color: white;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    color: black;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    width: auto
}

.pcalibre:link {
    color: blue;
    text-decoration: none
}

.pcalibre1:visited {
    color: blue;
    text-decoration: none
}

.pcalibre2:hover {
    color: red
}

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
}

