# Rewrite static html uris to script uris

Redirect /german/explain/Index/Search.html /german/explain/Index/Search.php
Redirect /german/explain/Index/All.html /german/explain/Index/All.php
Redirect /german/explain/Index/Showcaves.html /german/explain/Index/Showcaves.php
Redirect /german/explain/Index/Caves.html /german/explain/Index/Caves.php
Redirect /german/explain/Index/Mines.html /german/explain/Index/Mines.php
Redirect /german/explain/Index/Subterranea.html /german/explain/Index/Subterranea.php
Redirect /german/explain/Index/Karst.html /german/explain/Index/Karst.php
Redirect /german/explain/Index/Springs.html /german/explain/Index/Springs.php
Redirect /german/explain/Index/Gorges.html /german/explain/Index/Gorges.php
Redirect /german/explain/Index/AllByCountry.html /german/explain/Index/AllByCountry.php
Redirect /german/explain/Index/ShowcavesByCountry.html /german/explain/Index/ShowcavesByCountry.php
Redirect /german/explain/Index/CavesByCountry.html /german/explain/Index/CavesByCountry.php
Redirect /german/explain/Index/MinesByCountry.html /german/explain/Index/MinesByCountry.php
Redirect /german/explain/Index/SubterraneaByCountry.html /german/explain/Index/SubterraneaByCountry.php
Redirect /german/explain/Index/KarstByCountry.html /german/explain/Index/KarstByCountry.php
Redirect /german/explain/Index/SpringsByCountry.html /german/explain/Index/SpringsByCountry.php
Redirect /german/explain/Index/GorgesByCountry.html /german/explain/Index/GorgesByCountry.php
Redirect /german/explain/Index/Statistics.html /german/explain/Index/Statistics.php

