@page {
    margin: 5.0pt;
    padding: 0;
}

body {
    padding: 0;
}

p {
    text-align: justify;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 2em;
}

p.poem {
    text-indent: 0;
    margin: 2% 0 2% 8%;
    font-size: small;
}

p.blockquote {
    text-indent: 0;
    margin: 2% 4%;
}

p.first {
    text-indent: 0;
}

.center {
    text-align: center;
    text-indent: 0;
}

.right {
    text-align: right;
    text-indent: 0;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.noindent {
    text-indent: 0;
}

.nomargin {
    margin: 0;
}

.indent {
    margin: 0 0 0 40px;
    border: none;
    padding: 0;
    text-indent: 0;
}

.small {
    font-size: 0.75em;
}

.smallCaps {
    font-size: 1.14286em;
    font-style: normal;
    font-variant: small-caps;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none;
}

.superscript {
    font-size: smaller;
    line-height: normal;
    vertical-align: super;
}

.subscript {
    font-size: smaller;
    line-height: normal;
    vertical-align: sub;
}

.big {
    font-size: 1.25em;
}

.separator {
    text-align: center;
    width: 30%;
}

h1 {
    text-align: center;
    text-indent: 0;
    margin-top: 10%;
    page-break-before: always;
}

h2 {
    text-align: center;
    text-indent: 0;
    margin-top: 5%;
    margin-bottom: 10%;
}

h3 {
    text-align: center;
    text-indent: 0;
}

h4 {
    text-align: center;
    text-indent: 0;
}

img.fullsize {
    height: 100%;
    max-width: 100%;
}

img.thirty {
    max-width: 30%;
}

.box {
    margin: 2em;
    border: 2px solid black;
    padding: 1em;
}

.initial {
    font-size: 1.25em;
}

.dropcap {
    font-size: 300%;
    float: left;
    line-height: 0.8em;
    margin-bottom: -0.1em;
    margin-right: 3pt;
}

.leftfloat {
    float: left;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 1em;
    margin-top: 1em;
}

.rightfloat {
    float: right;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 1em;
}

td {
    text-align: justify;
    padding: 0.2em;
    vertical-align: top;
}

td.nowrap {
    white-space: nowrap;
}

.glossar {
    text-indent: -1.2em;
    margin: 0 0 0 1.2em;
}

.linethrough {
    text-decoration: line-through;
}

.impressum {
    text-align: center;
    text-indent: 0;
    font-size: 0.75em;
}
